PORT=
BACKEND_URI=
MONGO_URI=
HASH_SALT= 
JWT_KEY= 
MAIL_KEY= 
MAIL_PASS=
ADMIN_ID= 
ADMIN_PASSWORD= 
CLIENT_ID= 
CLIENT_SECRET= 
SESSION_SECRET= 
KHALTI_SECRET_KEY=
KHALTI_GATEWAY_URL= 
CLOUDINARY_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET= 